.app.dark{
  --bg-color: #48485d;
  --inverted-bg-color: #eaeaea;


  --primary-color: #efefef;
  --secondary-color: #cc78ff;

  --inverted-primary-color: #221055;
  --inverted-secondary-color: #6425c7;
}