.app.light{
  --bg-color: #eaeaea;
  --inverted-bg-color: #48485d;

  --primary-color: #221055;
  --secondary-color: #6425c7;

  --inverted-primary-color: #efefef;
  --inverted-secondary-color: #cc78ff;
}