
.Navbar{
  width: 100%;
  height: var(--navbar-height);
  background: var(--inverted-bg-color) ;
  display: flex;
  align-items: center;
  padding: 20px;
}

.links{
  display: flex;
  gap: 15px;
  font-size: 18px;
  margin-left: auto;
  a:-webkit-any-link{
    color: white;
    text-decoration: none;
  }
}